<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<connectionStrings>
		<add name="lienKetSQl" connectionString="Server=.\SQLEXPRESS; Database=db_QuanLyHangHoa;
			 Integrated Security=TRUE"/>
	</connectionStrings>
</configuration>